extends main_nonacademic

block content
    .container-fluid.py-4
        .row
            .col-md-4
                .card.card-profile
                    img.card-img-top(src='../static/assets/img/banners/fit_banner.jpg' alt='Image placeholder')
                    .row.justify-content-center
                        .col-4.col-lg-4.order-lg-2
                            .mt-n4.mt-lg-n6.mb-4.mb-lg-0
                                a(href='javascript:;')
                                    img.rounded-circle.img-fluid.border.border-2.border-white(src='../static/assets/img/icons/student2.jpeg')
                    .card-body.pt-0
                        .text-center.mt-4
                            h5
                                | Sankha Bimsara
                            .h6.font-weight-300
                                i.ni.location_pin.mr-2
                                | Faculty of Information Technology
                            .h6.mt-4
                                i.ni.ni-building.me-2
                                |BSc. Hons. (IT)
                            div
                                i.ni.ni-badge.me-2
                                | Batch 21
                            div.mt-6.align-items-center.text-center
                                i.ni.ni-compass-04.me-2
                                span.text-sm Galle Road, Matara, Sri Lanka.
                            div.mt-2.align-items-center.text-center
                                i.ni.ni-compass-04.me-2
                                span.text-sm 0710424155
                            div.mt-2.align-items-center.text-center
                                i.ni.ni-email-83.me-2
                                span.text-sm sankha@uom.lk

        
                                                        

    script.
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }

        