extends main_nonacademic

block content
    .container-fluid.py-4
        .row
            .col-xl-0.col-sm-0.mb-xl-0.mb-4
                .card.px-3.pb-3
                    .card-header.pb-0.pt-3.bg-transparent
                        h6.text-capitalize.text-center Student Groups
                    .row.mt-2.px-2.justify-content-evenly
                        .col-xl-5.col-xs-0
                            .card.bg-gray-300.py-2.rounded-2
                                .row.align-items-center.justify-content-between.px-3
                                    .col
                                        span.my-auto.text-sm.font-weight-bold.text-dark View Groups
                                    .col
                                        .icon.icon-shape.icon-sm.border-radius-md.text-center.d-flex.align-items-center.justify-content-center.ms-auto.me-0
                                            i.fa.fa-users.text-secondary.text-lg.opacity-10
                        .col-xl-5.col-xs-0
                            .card.bg-gray-300.py-2.rounded-2
                                .row.align-items-center.justify-content-between.px-3
                                    .col
                                        span.my-auto.text-sm.font-weight-bold.text-dark View Groups
                                    .col
                                        .icon.icon-shape.icon-sm.border-radius-md.text-center.d-flex.align-items-center.justify-content-center.ms-auto.me-0
                                            i.fa.fa-users.text-secondary.text-lg.opacity-10
    script.
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }